{% extends "movie_app/base.html" %}

{% load static %}
{% block registro %} Volver {% endblock %} 

{% block contenidoQueCambia %}


<div class="content">
    <h2 class="content-head is-center" id="registro">Te pedimos que completes el formulario.</h2>

    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <form class="pure-form pure-form-stacked" action="/formulario_inicio/" method="POST">{% csrf_token %}
                <fieldset>

                    <label for="nombre">Como te llamás??</label>
                    <input name="nombre" type="text" placeholder="NOMBRE" >


                    <label for="email">Como es tu e-mail??</label>
                    <input name="email" type="email" placeholder="E-MAIL">

                    <label for="password">Contraseña secreta</label>
                    <input name="password" type="password" placeholder="CONTRASEÑA">

                    <button type="submit" class="pure-button"> <a href="{% url 'yaregistrado' %}">Registráme </a></button>
                    
                </fieldset>
            </form>
        </div>
{% endblock %}