{% extends "movie_app/base.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div class="content-head is-center">
    <h2>Bienvenid@ {{user.first_name}}</h2> 
</div>   
    <h2 class="content-head is-center">Empezá a cargar tus peliculas y series favoritas.</h2>


     
     
    <div class="portal">
    <a class="items_portal"  href="{% url 'peliculas' %}">  Agregar Pelicula </a>
    <a class="items_portal"  href="{% url 'series' %}"> Agregar Serie </a>
      
    </div>      
        
 
{% endblock %}